<div>
    <br>
    <br>
    <br>
    <div class="container">
        <h1>Processo Seletivo Inatel</h1>
        <h2>Ana Thaís Rocha de Freitas</h2>
        <br>
        <br>
        <h3>Desafio:</h3>

        <div>
        Você foi contratado para desenvolver um sistema que permita o controle de aluguéis de filmes em uma locadora.
        <br>
        Utilizando qualquer linguagem de programação, esperamos que você desenvolva um sistema web simples que possua as seguintes funcionalidades:
        <br>
        <br>

        1) Cadastro de filmes, contendo pelo menos o título, ano, diretor e gênero.
        <br>
        2) Listagem dos filmes por gênero.
        <br>
        3) Cadastro de clientes, contendo pelo menos o nome e email do cliente.
        <br>
        4) Registro de locação, relacionando o filme a um cliente em um período (início, término)
        <br>
        5) Listagem de filmes locados.
        <br>
        <br>
        <br>
        - Você pode utilizar qualquer linguagem e/ou framework de programação. Desenvolver em Python e Django será um diferencial.
        <br>
        - Qualquer banco de dados pode ser utilizado para armazenar as informações, inclusive SQLite.
        <br>
        - Não há necessidade de escrever testes, embora seja considerado um diferencial.
        <br>
        - Não há necessidade de desenvolver/utilizar um layout (bootstrap, css, etc), embora seja considerado um diferencial.
        <br>
        - Você pode optar por desenvolver as funcionalidades como API também, ao invés do tradicional "CRUD" web.
        <br>
        - Utilize um repositório (github, gitlab) para publicar seu código e nos enviar.
        <br><br><br>
        <h6><p>"A vida está cheia de desafios que, se aproveitados de forma criativa, transformam-se em oportunidades."</p></h6>
        </div>
    </div>
</div>
