<div class="container">
    <br>
    <br>
    <h2>Movie Rental</h2>
    <br>
    <br>
    <div *ngIf="!isEmpty" class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Movie</th>
                    <th>Client</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let register of registers">
                    <td>{{register.movie.title}}</td>
                    <td>{{register.client.name}}</td>
                    <td>{{register.startDate}}</td>
                    <td>{{register.endDate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>