<nav class="navbar navbar-light" style="background-color: blue">
    <a class="navbar-brand" style="font-weight: bold" href="#">Inatel</a>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a class="btn btn-primary" style="color: black; font-weight: bold" href="home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-primary" style="color: black; font-weight: bold" href="clients">Client</a>
        </li> 
        <li class="list-inline-item">
          <a class="btn btn-primary" style="color: black; font-weight: bold" href="movies">Movie</a>
        </li> 
        <li class="list-inline-item">
          <a class="btn btn-primary" style="color: black; font-weight: bold" href="registers">Register</a>
        </li>
      </ul>
</nav> 
