<div class="container">
    <br>
    <br>
    <h2>Client List</h2>
    <br> 
    <div>
        <a class="btn btn-primary" style="color: black; font-weight: bold" href="addClient">Add new client</a>
    </div>
    <br>
    <br>
    <div *ngIf="!isEmpty" class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>E-mail</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let client of clients">
                    
                    <td>{{client.name}}</td>
                    <td>{{client.email}}</td>
                    <td>
                        <button class="btn btn-success" (click)="update(client.id)">
                             Edit
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-danger" (click)="delete(client.id)">
                             Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>